    <!-- Main -->
<main id="main">

    <div class="container" style="margin-top: 100px;">
        <div class="section-title" data-aos="fade-up">
            <h2>Blog</h2>
            <p style="font-size: 25px;">Kobİler e-Fatura İle Dİjİtal Dönüşümde Kazanıyor!</p>
        </div>
    </div>

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" style="margin-top: -40px;">
            <div class="row">
                <div class="col-lg-8 entries">
                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="~/img/blog/blog-1.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="@Url.Action("Blog5","Home")">Ön Muhasebe Nedir?</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>

                                <li class="d-flex align-items-center">
                                    <i class="bi bi-clock"></i> <a href="@Url.Action("Blog5","Home")"><time datetime="2020-01-01">02/06/2021</time></a>
                                </li>

                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Ön Muhasebe, genel muhasebenin ilk adımıdır. Ön muhasebe bir işletmenin mali
                                yönetimini sağlayan her
                                türlü bilginin işlenmesi ve takip edilmesidir.
                                İşletmenin nakit, çek, senet, müşteri, stok, fatura veya banka hesaplarının
                                kayıtları
                                ve hareketleri,
                                ön muhasebe aracılığı ile takip edilir.
                            </p>

                            <p>
                                İşletmenin sürdürülebilir yönetimi için fatura kesilme aşamasından tahsilat adımına,
                                alış
                                faturalarının işlenmesinden ödeme adımına, ürünlerin stok takibine,
                                işletmedeki nakit akışına varıncaya dek tüm bu işlemlerin kayıt altına alınması
                                sürecine Ön Muhasebe
                                diyebiliriz.
                            </p>

                            <h4> Ön Muhasebede Hangi İşlemler Yapılır? </h4>
                            <p>
                                <ul>
                                    <li>
                                        <strong>Kasa Takibi:</strong>Firmanın günlük gelir, gider ve nakit akışının
                                        takibi için
                                        kullanılır.
                                        Nakit giriş çıkışlar, kayıt altına alınarak, yapılan tahsilat ve ödemeler
                                        izlenir. Böylece firmanın,
                                        nakit işlemlerinin takibi yapılır.
                                    </li>

                                    <li>
                                        <strong> Banka Hesaplarının Takibi: </strong> İşletmelerin bankalardaki
                                        hesap
                                        durumu, bankalar
                                        aracılığıyla gerçekleştirdiği ödemeler, çekler,
                                        havale ve tahsilat gibi işlemlerin takibi yapılır. Dışarıdan gelen
                                        ödemelerde
                                        banka hesabı kontrol
                                        edilir.
                                    </li>
                                    <li>
                                        <strong> Çek ve Senetlerin Takibi: </strong> İşletmenin veya müşterilerin
                                        çek-senetlerini takip
                                        eder. Çek-senetlerin giriş çıkışlarını kaydederek, ne kadar tahsil edilecek
                                        ve
                                        ne kadar ödenecek çek
                                        senet çek-senet olduğu bilinir.
                                        Bunları vadeleri de takip edilerek, ödeme günlerinde ödemeler yapılır,
                                        tahsil
                                        günlerinde tahsilatlar
                                        yapılır.
                                    </li>
                                    <li>
                                        <strong> Fatura ve İrsaliye Takibi: </strong> Alınan veya satılan hizmet ya
                                        da
                                        ürün karşılığında
                                        fatura kesilir.
                                        İrsaliye ise bir ürünün nakledilmesi esnasında kullanılan sevk belgesidir.
                                        Fatura kesme işlemini,
                                        gelen-giden fatura ve belgeleri takip eder.
                                    </li>
                                    <li>
                                        <strong> Stok Giriş/Çıkış İşlemleri: </strong> Ürün alımında alış faturası
                                        ile
                                        sisteme girişi
                                        yapılır, ürün satıldığında is satış faturası ile stoklardan düşürülür.
                                        Böylece hangi ürünün daha çok satıldığı, hangi ürünün satılmadığı kolayca
                                        takip edilir.
                                    </li>
                                    <li>
                                        <strong> Cari Hesap Takibi: </strong> Müşteri ve tedarikçi hesaplarının
                                        tamamı
                                        cari hesaplarıdır.
                                        Her türlü alım satım işlemleri; ödeme, tahsilat, borç ve alacak takibi cari
                                        hesapla yapılır. Bu
                                        bilgiler rapor hazırlamak için de kullanılır.

                                    </li>
                                    <li>
                                        <strong> Aylık Bordrolar: </strong> Personelin ücret hesaplarının
                                        düzenlenmesi
                                        ve takibi yapılır.
                                    </li>

                                </ul>

                            </p>

                            <img src="~/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">

                            <h3>Ön Muhasebe Nasıl Yapılır?</h3>
                            <p>
                                Genç ve küçük işletmelerde tüm bu işlemleri işletme sahibi yapmayı tercih edebilir.
                                Gelişmiş
                                işletmelerde ise daha çok ön muhasebe kayıtları için ön muhasebe elemanı işe alınır.
                                Elle yapılan kayıtlarda Excel yardımıyla kayıtlar elektronik ortamda tutulur. Tüm bu
                                işlemlerin
                                düzenli ve hatasız olması şirket için büyük önem taşır.
                            </p>
                            <p>
                                Yanlış fatura kesimi, hatalı vergi hesaplanması gibi durumlarda şirket mali zarara
                                uğrayabilir veya
                                şirkete ceza kesilebilir.

                            </p>

                        </div>
                    </article><!-- End blog entry -->
                </div><!-- End blog entries list -->

                <div class="col-lg-4">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Bul</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="@Url.Action("Blog","Home")">e-Fatura <span>(4)</span></a></li>
                                <li><a href="@Url.Action("Blog5","Home")">Ön Muhasebe<span>(1)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-1.jpg" alt="">
                                <h4><a href="@Url.Action("Blog1","Home")">e-Fatura'ya Geçiş Zorunluluğu !</a></h4>
                                <time datetime="2020-01-01">02/06/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-2.jpg" alt="">
                                <h4><a href="@Url.Action("Blog2","Home")">e-Fatura Avantajları Nelerdir?</a></h4>
                                <time datetime="2020-01-01">22/05/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-3.jpg" alt="">
                                <h4><a href="@Url.Action("Blog3","Home")">e-Faturada veri depolama güvenli mi?</a></h4>
                                <time datetime="2020-01-01">15/07/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-4.jpg" alt="">
                                <h4><a href="@Url.Action("Blog4","Home")">Ücretsiz e-Fatura nasıl kullanılır?</a></h4>
                                <time datetime="2020-01-01">20/05/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-5.jpg" alt="">
                                <h4><a href="@Url.Action("Blog5","Home")">Ön Muhasebe Nedir?</a></h4>
                                <time datetime="2020-01-01">02/0/2021</time>
                            </div>

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="@Url.Action("Blog","Home")">e-Fatura</a></li>
                                <li><a href="@Url.Action("Blog5","Home")">Ön Muhasebe</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->
                    </div><!-- End sidebar -->
                </div><!-- End blog sidebar -->
            </div>
        </div>
    </section><!-- End Blog Single Section -->
</main><!-- End #main -->