    <!-- Main -->
<main id="main">

    <div class="container" style="margin-top: 100px;">
        <div class="section-title" data-aos="fade-up">
            <h2>Blog</h2>
            <p style="font-size: 25px;">Kobİler e-Fatura İle Dİjİtal Dönüşümde Kazanıyor!</p>
        </div>
    </div>

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog" style="margin-top: -40px;">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8 entries">
                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="~/img/blog/blog-4.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="@Url.Action("Blog4","Home")">Ücretsiz e-Fatura nasıl kullanılır?</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>

                                <li class="d-flex align-items-center">
                                    <i class="bi bi-clock"></i> <a href="@Url.Action("Blog4","Home")"><time datetime="2020-01-01">20/05/2021</time></a>
                                </li>

                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Ücretsiz e-Fatura Kullanımına ilişkin yöntemleri derlediğimiz yazımızda tüm
                                ayrıntıları ve metodları
                                bulabileceksiniz.
                            </p>

                            <p>
                                E-Fatura’nın güvenli ve hızlı olmasının beraberinde faturaların elektronik ortamda
                                güvenle
                                kullanılabilmesi sayesinde bu sistem çağımızda giderek popüler hale gelmiştir.
                                Tahsilat süreçlerini hızlandırmak isteyen firmalar bedava dağıttığı e-Fatura
                                kullanarak hem maliyetten
                                hem vakitten tasarruf eder. Peki, e-Fatura nasıl kesilir,
                                nasıl sisteme geçiş yapılır diye merak ediyorsanız, okumaya devam edin. İşte
                                ayrıntılar!
                            </p>

                            <h4> E-Faturaya Nasıl Başvurulur?</h4>
                            <p>
                                E-Fatura başvurusu yapılmak isteniyorsa, ilk önce “Mali Mühür Sertifikası” için
                                başvuru yapmalıdır.
                                Kamu Sertifikasyon Merkezi (KSM) TÜBİTAK’a bağlı bir kurumdur ve mali mühür
                                başvurusu
                                buradan online
                                olarak yapılır. Başvuru süreci tamamlanıp,
                                ödeme yapıldıktan sonraki 1 hafta içerisinde sertifika alıcısına ulaşır. İkinci
                                adımda
                                ise Gelir
                                İdaresi Başkanlığı’nda e-Fatura başvurusu için form doldurulmalıdır.
                            </p>

                            <h4>E-Faturaya Nasıl Geçilir? </h4>
                            <p>
                                E-Faturayı mali avantajlarından dolayı ya da zorunlu olarak kullanmanız gerekiyorsa
                                geçiş yapmak
                                oldukça kolaydır.
                                GİB Portal, Gelir İdaresi Başkanlığı ve özel entegratör üzerinden geçiş yapılabilir.
                                Başvuru
                                süreçlerini tamamlayanlar direkt olarak GİB web sitesinden işlemlere başlayabilir.
                                Şahıs firmalarında elektronik imza kullananlar e-imza ile e-fatura başvuru sürecini
                                yönetebilir.
                                Zorunlu olarak geçiş yapacak işletmeler ise direkt olarak mali mühür ve
                                e-Fatura sistemine geçiş yapmalıdır.
                                İsteğe bağlı e-Fatura kullanıcısı olacak firmalarsa, yılın istedikleri herhangi bir
                                zamanında
                                e-faturaya geçiş talep edebilirler.
                            </p>


                            <img src="~/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">

                            <h3>E-Fatura Kurulumu Online Olarak Nasıl Yapılır?</h3>
                            <p>
                                E-Fatura kullanmak için ön müracaat ve mali mühür alanlar, e-Fatura kurulumunu
                                online
                                şekilde kısa bir
                                süre içinde yapabilir.
                                Bunun için Gelir İdaresi Başkanlığı sitesine online olarak giriş yapmanız gerekir.
                                Buradan yapılan
                                müracaatların ardından özel entegratör protokolü yapılır. Sözleşmedeki bilgilerle
                                beraber şirket
                                hesabı açılır ve çoğu portalda olduğu gibi kullanıcı adı ile şifre girmeniz istenir.
                                Daha sonra e-Fatura ve e-Arşiv için gerekli tasarımlar uygulanır. Sistemdeki
                                aktivasyon işlemleri
                                gerçekleştikten sonra online olarak e-Fatura kullanmaya başlayabilirsiniz.
                            </p>

                        </div>
                    </article><!-- End blog entry -->
                </div><!-- End blog entries list -->

                <div class="col-lg-4">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Bul</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="@Url.Action("Blog","Home")">e-Fatura <span>(4)</span></a></li>
                                <li><a href="@Url.Action("Blog5","Home")">Ön Muhasebe<span>(1)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-1.jpg" alt="">
                                <h4><a href="@Url.Action("Blog1","Home")">e-Fatura'ya Geçiş Zorunluluğu !</a></h4>
                                <time datetime="2020-01-01">02/06/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-2.jpg" alt="">
                                <h4><a href="@Url.Action("Blog2","Home")">e-Fatura Avantajları Nelerdir?</a></h4>
                                <time datetime="2020-01-01">22/05/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-3.jpg" alt="">
                                <h4><a href="@Url.Action("Blog3","Home")">e-Faturada veri depolama güvenli mi?</a></h4>
                                <time datetime="2020-01-01">15/07/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-4.jpg" alt="">
                                <h4><a href="@Url.Action("Blog4","Home")">Ücretsiz e-Fatura nasıl kullanılır?</a></h4>
                                <time datetime="2020-01-01">20/05/2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/img/blog/blog-recent-5.jpg" alt="">
                                <h4><a href="@Url.Action("Blog5","Home")">Ön Muhasebe Nedir?</a></h4>
                                <time datetime="2020-01-01">02/0/2021</time>
                            </div>

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="@Url.Action("Blog","Home")">e-Fatura</a></li>
                                <li><a href="@Url.Action("Blog5","Home")">Ön Muhasebe</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->
                    </div><!-- End sidebar -->
                </div><!-- End blog sidebar -->
            </div>
        </div>
    </section><!-- End Blog Single Section -->
</main><!-- End #main -->